@import "../../mixins.scss";
$textColor: #f9f3f4;
$btnHoverColor: #48c41a;
$textHoverColor: yellow;

.container {
  background: url("../../images/important.png") no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  display: table;
  top: 0;
  .landingContainer {
    display: table-cell !important;
    vertical-align: middle;
    width: 100%;
    max-width: none;

    .landingContainer__content {
      max-width: 500px;
      margin: 0 auto;
      text-align: center;
      .landingContainer__content__h2 {
        color: $textColor;
        text-shadow: 0px 0px 300px #000;
        font-size: 600%;
        @include responsive-max($xs) {
          font-size: 350%;
        }
      }
      .landingContainer__content__p {
        font-size: 300%;
        margin-bottom: 50px;
        color: $textColor;
        @include responsive-max($xs) {
          font-size: 180%;
        }
      }
      .landingContainer__content__link {
        border-radius: 9px;
        font-size: 135%;
        color: $textColor;
        padding: 10px 30px;
        border: solid $textColor 3px;
        text-decoration: none;
        text-transform: uppercase;
        @include responsive-max($xs) {
          font-size: 110%;
          padding: 10px 15px;
        }
      }
      .landingContainer__content__span {
        font-size: 200%;
        color: $textColor;
        margin: 0 20px;
        @include responsive-max($xs) {
          font-size: 150%;
        }
      }
      .landingContainer__content--btn {
        &:hover {
          color: $textHoverColor;
          border: solid $btnHoverColor 3px;
        }
      }
    }
  }
}
