.userOrders__h2 {
  text-transform: capitalize;
}
.userOrders__orders {
  .userOrders__orders__ul {
    list-style: none;
  }

  .userOrders__orders__li {
    margin: 20px;
    padding: 20px 20px 10px 20px;
    background: linear-gradient(
      to right,
      rgba(137, 255, 253, 0.2),
      rgba(205, 137, 254, 0.2)
    );
    .userOrders__orders__status {
      background: linear-gradient(
        to right,
        rgba(137, 255, 253, 0.8),
        rgba(205, 137, 254, 0.8)
      );
      padding: 5px;
      margin: 10px;
      font-weight: bold;
      border-radius: 30%;
    }
    .userOrders__menu__ul {
      border-bottom: solid 2px grey;
    }
    .userOrders__orders__totaldate {
      margin-top: 20px;
    }
  }
}
