.activeGroup {
  .activeGroup__a {
    text-decoration: none;
    .activeGroup__h2 {
      margin-left: 70px;
      padding-top: 20px;
    }
  }
  .activeGroup__timer {
    padding-top: 10px;
  }
}
.activeGroup__orders {
  .activeGroup__orders__li {
    list-style: none;
    background: linear-gradient(
      to right,
      rgba(137, 255, 253, 0.2),
      rgba(205, 137, 254, 0.2)
    );
    margin: 20px;
    padding: 20px;
    width: 100%;
    .activeGroup__orders__user {
      display: inline-block;

      .activeGroup__orders__user__img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      .activeGroup__orders__user__h3 {
        display: inline-block;
        padding: 20px;
      }
    }
  }
}
