@import "../../mixins.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background: $otlobo-yellow;
  padding: 10px 10px 10px 30px;
  margin: 0 0 50px 0;
  height: 100px;

  h1 {
    color: $otlobo-red;
    font-style: italic;
    font-weight: 800;
    font-size: 48px;
    display: inline;
    margin: 20px 0 0 10px;
    float: left;

    @include responsive-max($xs) {
      display: none;
    }
  }

  img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    float: left;
  }
}
