@import "../../mixins.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.footer-container {
  @include gradientColor(); // background: $primary;
  margin-top: auto;
  height: 70px;
  text-align: center;
  padding-top: 20px;
  // position: absolute;
  bottom: 0;
  width: 100%;
  span {
    color: $text-on-bg;
  }
}
