@import "../../mixins.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.cardContainer {
  border: 2px solid grey;
  margin: 20px;
  padding: 20px;

  h1 {
    text-transform: uppercase;
  }

  p {
    text-align: left;
  }
}
